<div class="container">
  <div class="search">
    <form action="/action_page.php">
      <input
        [(ngModel)]="queryString"
        type="text"
        class="inputBox"
        placeholder="Search by title.."
        name="search"
      />
      <img
        *ngIf="queryString.length > 0"
        src="\assets\crossicon.png"
        class="crossicon"
        alt="cross"
        width="25"
        height="25"
        (click)="close()"
      />
      <button class="searchButton" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div id="btnContainer">
    <button class="btn margin" (click)="listView()">
      <i class="fa fa-bars"></i> List
    </button>
    <button class="btn active margin" (click)="gridView()">
      <i class="fa fa-th-large"></i> Grid
    </button>
    <button [class.visible]="visible" (click)="sortByLowtoHigh(publishedAt)">
      sort by low<i class="fa fa-sort margin"></i>
    </button>
    <button [class.invisible]="invisible" (click)="sortByHigtoLow(publishedAt)">
      sort by high <i class="fa fa-sort margin"></i>
    </button>
  </div>
  <div
    class="content"
    *ngFor="let data of dataFromApi | filterdata: queryString:'title'"
    [class.large]="large"
    [class.small]="!large"
  >
    <img class="image" src="{{ data.urlToImage }}" />
    <div class="title">{{ data.title }}</div>
    <div class="title">{{ data.publishedAt | date: "medium" }}</div>
  </div>
</div>
