<div class="container">
  <div class="search">
    <form action="/action_page.php">
      <input
        [(ngModel)]="queryString"
        type="text"
        class="inputBox"
        placeholder="Search by title.."
        name="search"
      />

      <button
        (click)="close()"
        *ngIf="queryString.length > 0"
        type="button"
        class="close crossicon"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <button class="searchButton" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div id="btnContainer">
    <button class="btn margin" (click)="listView()">
      <i class="glyphicon glyphicon-th-list"></i>
    </button>
    <button class="btn margin" (click)="gridView()">
      <i class="glyphicon glyphicon-th"></i>
    </button>

    <button
      class="btn margin"
      [class.visible]="visible"
      (click)="sortByLowtoHigh(publishedAt)"
    >
      <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
    </button>
    <button
      class="btn margin"
      [class.invisible]="invisible"
      (click)="sortByHigtoLow(publishedAt)"
    >
      <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
    </button>
  </div>
  <div
    class="content"
    *ngFor="let data of dataFromApi | filterdata: queryString:'title'"
    [class.large]="large"
    [class.small]="!large"
  >
    <img class="image" src="{{ data.urlToImage }}" />
    <div class="contentDiv">
      <div class="title">{{ data.title }}</div>
      <div class="titleb">{{ data.publishedAt | date: "medium" }}</div>
    </div>
  </div>
</div>
